<h1 class="text-center pt-3" style="margin-top: 30px;" *ngIf="albumPadre.length>0" >Albums</h1>
 <div class="container"> 
    <div class="row m-0"> 
       <div class="col-md-6" *ngFor="let album of albumPadre">
   
           <div class="card text-center m-4">
             <div class="card-header">
                Album
             </div>
             <div class="card-body">
               <h5 class="card-title"><strong>Album del usuario </strong>{{album.userId}}</h5>
               <p><strong>Titulo: <br></strong>{{album.title}}</p>
            </div>
               
     </div>
    </div>
   </div>
</div>
