
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-4">
                <div class="" style="width: 25rem;">
                    <img src="https://avatars.dicebear.com/api/male/john.svg?mood[]=happy&mood[]=sad" class="card-img-top" alt="...">
                    <div class="card-body text-center p-4">
                      <h5 class="card-title">Hola Soy <strong>{{profile.name}} </strong></h5>
                      <p class="card-text"> Mi sitio Web es: {{profile.website}} <br> Trabajo en: {{profile.company.name}}</p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Diviertete en este blog
                      </button>

                    </div>
                  </div>
            </div>
        </div>
    </div>

