<div class="container"> 
 <div class="row m-0"> 
    <div class="col-md-12">

        <div class="card text-center m-4">
            <div class="card-header">
             Post
            </div>
            <div class="card-body">
            <h5 class="card-title"><strong>Titulo <br></strong>{{post.title}}</h5>
            <p><strong>Descripcion <br></strong>{{post.body}}</p>
            <a (click)="volver()" class="btn btn-danger mt-4">Volver a los posts</a>
            </div>
            
  </div>
 </div>
</div>

</div>